include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft server_metrics
global-exclude *.orig *.pyc *.log *.swp
prune server_metrics/tests/coverage
prune server_metrics/.ropeproject
